.FAQ-text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    left: 25px;
    right: 25px;
    top: 90px;
    height: 532px;
    margin: 0;
    line-height: 117.4%;
}