.button {
    background-color: transparent;
    border: none;

}

.button_size_sm {
    --font-size: 12px;
    padding: 7px 10px;
    border-radius: 8px;
}

.button_size_md {
    --font-size: 16px;
    min-width: 150px;
    height: 44px;
    padding: 12px 36px;
    border-radius: 15px;
}

.button_size_lg {
    --font-size: 16px;
    min-width: 150px;
    height: 70px;
    padding: 25px 24px;
    border-radius: 15px;
}

.button_color_default {
    --text-color: #fff;
    background: var(--primary, linear-gradient(101deg, #9A6BFF 36.89%, #C8AEFF 82.1%));
}

.button__text {
    color: var(--text-color);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: var(--font-size);
    font-weight: 700;
    text-transform: uppercase;
}