.icon-button-play {
    width: 150px;
    height: 44px;
    border: none;
    border-radius: 15px;
    background: var(--primary, #9A6BFF);
    color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0;
}


.icon-button-play-text {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}