.participant {
    text-align: center;
    height: 120px;
}

.participant:nth-child(11n + 1) {
    --inner_bg: var(--participant_background_1);
    --shadow_bg: var(--participant_shadow_1);
}

.participant:nth-child(11n + 2) {
    --inner_bg: var(--participant_background_2);
    --shadow_bg: var(--participant_shadow_2);
}

.participant:nth-child(11n + 3) {
    --inner_bg: var(--participant_background_3);
    --shadow_bg: var(--participant_shadow_3);
}

.participant:nth-child(11n + 4) {
    --inner_bg: var(--participant_background_4);
    --shadow_bg: var(--participant_shadow_4);
}

.participant:nth-child(11n + 5) {
    --inner_bg: var(--participant_background_5);
    --shadow_bg: var(--participant_shadow_5);
}

.participant:nth-child(11n + 6) {
    --inner_bg: var(--participant_background_6);
    --shadow_bg: var(--participant_shadow_6);
}

.participant:nth-child(11n + 7) {
    --inner_bg: var(--participant_background_7);
    --shadow_bg: var(--participant_shadow_7);
}

.participant:nth-child(11n + 8) {
    --inner_bg: var(--participant_background_8);
    --shadow_bg: var(--participant_shadow_8);
}

.participant:nth-child(11n + 9) {
    --inner_bg: var(--participant_background_9);
    --shadow_bg: var(--participant_shadow_9);
}

.participant:nth-child(11n + 10) {
    --inner_bg: var(--participant_background_10);
    --shadow_bg: var(--participant_shadow_10);
}

.participant:nth-child(11n + 11) {
    --inner_bg: var(--participant_background_11);
    --shadow_bg: var(--participant_shadow_11);
}


.participant__inner {
    height: 100px;
    position: relative;
    background: var(--inner_bg);
    border-radius: 15px;
    padding-top: 80px;

}

.participant__background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    position: absolute;
    top: -20px;
    width: 100%;
    border: 1px solid var(--participant_border);
    background: var(--participant_background);
    box-shadow: var(--shadow_bg);
    border-radius: 15px;
    gap: 8px;
}

.participant__avatar {
    margin-top: -8px;
}

.participant__avatar .avatar {
    background: var(--inner_bg);
}

.participant__percentage,
.participant__bet {
    margin: 0;
}

.participant__percentage {
    color: var(--main_text_color);
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}

.participant__bet {
    color: var(--main_text_color);
    font-size: 9px;
    font-weight: 400;
    padding: 4px 0;
}

.participant__currency {
    font-size: 8px;
    text-transform: uppercase;
}