@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');
:root {
    --background: #181A1F;
    --background_2: #1F2126;
    --primary: linear-gradient(101deg, #9A6BFF 36.89%, #C8AEFF 82.1%);
    --primary_clear_color: #9A6BFF;
    --primary_clear_color_action: #5C4099;

    --participant_background: rgba(102, 102, 102, 0.10);
    --participant_border: rgba(255, 255, 255, 0.3);
    --participant_background_1: linear-gradient(101deg, #9A6BFF 36.89%, #C8AEFF 82.1%);
    --participant_shadow_1: 0 0 34px 0 rgba(122, 27, 243, 0.25) inset;
    --participant_background_2: linear-gradient(101deg, #EF0358 36.89%, #FF6480 82.1%);
    --participant_shadow_2: 0 0 34px 0 rgba(239, 3, 88, 0.25) inset;
    --participant_background_3: linear-gradient(101deg, #EF7403 36.89%, #FFDA64 82.1%);
    --participant_shadow_3: 0 0 34px 0 rgba(243, 131, 27, 0.25) inset;
    --participant_background_4: linear-gradient(101deg, #EAEF03 36.89%, #FCFF64 82.1%);
    --participant_shadow_4: 0 0 34px 0 rgba(234, 239, 3, 0.25) inset;
    --participant_background_5: linear-gradient(101deg, #0337EF 36.89%, #646AFF 82.1%);
    --participant_shadow_5: 0 0 34px 0 rgba(3, 55, 239, 0.25) inset;
    --participant_background_6: linear-gradient(101deg, #03C4EF 36.89%, #03C4EF 36.89%, #64FFFF 82.1%);
    --participant_shadow_6: 0 0 34px 0 rgba(3, 196, 239, 0.25) inset;
    --participant_background_7: linear-gradient(101deg, #EA03EF 36.89%, #F364FF 82.1%);
    --participant_shadow_7: 0 0 34px 0 rgba(234, 3, 239, 0.25) inset;
    --participant_background_8: linear-gradient(101deg, #1FF31B 36.89%, #A8FF64 82.1%);
    --participant_shadow_8: 0 0 34px 0 rgba(31, 243, 27, 0.25) inset;
    --participant_background_9: linear-gradient(101deg, #EF0303 36.89%, #FF6464 82.1%);
    --participant_shadow_9: 0 0 34px 0 rgba(239, 3, 3, 0.25) inset;
    --participant_background_10: linear-gradient(101deg, #6B03EF 36.89%, #8364FF 82.1%);
    --participant_shadow_10: 0 0 34px 0 rgba(107, 3, 239, 0.25) inset;
    --participant_background_11: linear-gradient(101deg, #03EF8C 36.89%, #64FF86 82.1%);
    --participant_shadow_11: 0 0 34px 0 rgba(3, 239, 140, 0.25) inset;

    --main_text_color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: #FFFFFF;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
}

a, input, select, textarea, button {
    font-family: "Unbounded", sans-serif;
}

.main {

}